@import url(./common.css);


.charts{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--max-space);
}
.charts #attendence{
  max-width: 100px;
}
.charts .select-wrapper{
	justify-content: center;
	align-items: center;
}