@import url(./common.css);

.badge-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--min-space);
	margin: var(--min-space) 0;
}
.badge-wrapper .badge-stat-wrapper{
	position: relative;
}
.badge-wrapper .badge{
	height: 100px;
	aspect-ratio: 1/1;
	overflow: hidden;
	position: absolute;
	top: 25px;
	left: 25px;
}
.badge-wrapper .badge img{
	height: inherit;
}
.badge-wrapper #attendence{
	width: 150px;
	height: 150px;
}
.badge-wrapper #attendence:hover{
	z-index: 2;
}
.badge-wrapper .user-info{
	text-align: center;
}

.scedule h1, h2{
	text-transform: capitalize;
}
.scedule,
.scedule .target{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--max-space);
}
.scedule .target{
	width: 100%;
	overflow: hidden;
	gap: var(--max-space);
	padding-bottom: 15px;	
}
.scedule .target .list{
	width: 100%;
}
.scedule .target .list li{
	border-radius: 10px;
/*	background-color: white;*/
	background-color: rgb(247, 250, 255);
	padding: 10px;
}
.scedule .target .list li:nth-child(odd){
	background-color: rgb(227, 238, 255);
}
.scedule .target .list .weights{
	display: flex;
	gap: var(--min-space);
	width: 50%;
	overflow: hidden;
	justify-content: flex-end;
}
.scedule .target .list .weights input{
	aspect-ratio: 1/1;
	width: 30px;
	padding: 5px;
}

@media only screen and (max-width: 400px) {

  .charts #attendence{
    max-height: 100px;
  }
}
